<!DOCTYPE html>
<html lang="en">
<head>
  <title>Koodoo</title>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">
  <meta content="NONE,NOARCHIVE" name="robots">
  <%= csrf_meta_tags %>


  <%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "screen" %>
  <%= stylesheet_link_tag "font-awesome/css/font-awesome", media: "screen" %>
  <%= stylesheet_link_tag "apps/css/main", media: "screen" %>
  <%= stylesheet_link_tag "apps/css/responsive", media: "screen" %>
  <%= stylesheet_link_tag "apps/css/plugins", media: "screen" %>
  <%= stylesheet_link_tag "apps/css/form", media: "screen" %>

  <%= javascript_include_tag "jquery/js/jquery"%>
  <%= javascript_include_tag "bootstrap/js/bootstrap" %>

  <!-- <%= javascript_include_tag "bootstrap/js/bootstrap", "data-turbolinks-track" => true %>
   -->

</head>
<body>
	<%= yield %>        
</body>
</html>
